*,
*::before,
*::after { 
  box-sizing: border-box;
}

  @font-face {
    font-family: 'Days One';
    src: URL('./DaysOne-Regular.ttf') format('truetype');
    src: url('DaysOne-Regular.eot');
    src: url('DaysOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('DaysOne-Regular.woff2') format('woff2'),
        url('DaysOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{font-family: 'Days One';}

form {
  border: 2px dashed rgb(154, 152, 152);
  text-align: center;
  position: relative;
}

input{
  margin-bottom: 5px;
  padding: 1px 5px;
  border-radius: 10px;
  color: #004693;
  border: 3px solid #004693 ;
  text-align: center;
}

input:hover {
  background-color: #f4a220; 
}

button{
  color: #004693;
  border: 3px solid #004693 ;
  text-align: center;
  text-decoration: none;
  padding: 1px 10px;
  border-radius: 10px;
  margin: 2px;
}

button:hover {
  background-color: #f4a220; 
}

.downloadBtn {
  display: inline-block;
  font-size: 25px;
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.reloadBtn {
  display: inline-block;
  font-size: 25px;
  position: fixed;
  bottom: 2%;
  left: 2%;
}

#TTFooter {
    height: 60px;  /* footer height */
    padding-top: 20px;
    display: block;
    margin-top: 20px; /* space between content and footer */
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
